<div class="hero is-fullheight">

    <div class="hero-head has-text-center" style="margin: 0 auto;">
      <a routerLink="home">
      <img src="../assets/images/indspire-logo (1).png" alt="" style="margin: 0 auto;">
    </a></div>
    <div class="hero-body" style="border-top: 10px solid orange; background-image: linear-gradient(to right,rgba(255, 255, 255, 0.9),rgba(0, 0, 0, 0.3)),url(../assets/images/background.jpg); background-size: cover;">
        <div class="container">
          <h1 class="title">PEER SUPPORT: Educator Mentorship</h1>
          <p class="subtitle">Are you applying to be a</p>
          <div class="columns">
            <div class="column">
                <a routerLink="mentor" routerLinkActive="rotateIcon" class="button is-large">Mentor &nbsp;
                <span class="icon is-small">
                  <i class="fa fa-arrow-circle-right"></i>
                </span></a>
                <a routerLink="mentee" routerLinkActive="rotateIcon" class="button is-large">Mentee &nbsp;
                <span class="icon is-small">
                  <i class="fa fa-arrow-circle-right"></i>
                </span></a>
            </div>
            <div class="column">
            </div>
          </div>
        </div>


    </div>

  <div class="hero-foot"></div>
</div>



<router-outlet></router-outlet>
